<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798553184410-risfvkc3lrd1ihjp2qav7ff7fkv1fnrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798553184410-risfvkc3lrd1ihjp2qav7ff7fkv1fnrq</string>
	<key>API_KEY</key>
	<string>AIzaSyDEGtO9dxrY_mlWXK50kkjThBBozPoSflQ</string>
	<key>GCM_SENDER_ID</key>
	<string>798553184410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dominikjezierski.palokawana3</string>
	<key>PROJECT_ID</key>
	<string>palokawana3</string>
	<key>STORAGE_BUCKET</key>
	<string>palokawana3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798553184410:ios:d7c47521b32e7cf875e723</string>
</dict>
</plist>